<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button id="home" [routerLink]="['/']">
        <ion-icon size="large" slot="start" name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Notifications
    </ion-title>
    <ion-buttons slot="end">
      <ion-button id="popover" (click)="openPopover($event)">
        <ion-icon size="large" slot="start" name="ellipsis-horizontal-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
